In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
from parser.parse_events import EventsDataParser
import pandas as pd

In [4]:
parser = EventsDataParser("data/opta/PL_MUN_WOL_2025_12_30.json")
df_events, df_qualifiers = parser.parse_events_and_qualifiers()

parser.parse_events - INFO - Loading JSON from data/opta/PL_MUN_WOL_2025_12_30.json
parser.parse_events - INFO - JSON loaded successfully
parser.parse_events - INFO - Extracting match metadata
parser.parse_events - INFO - Extracted 1699 raw events
parser.parse_events - INFO - Parsing events and qualifiers into separate DataFrames
parser.parse_events - INFO - Created df_events: (1699, 13)
parser.parse_events - INFO - Created df_qualifiers: (8008, 5)

In [6]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699 entries, 0 to 1698
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1699 non-null   int64
 1   type_id      1699 non-null   int64
 2   type_name    1699 non-null   object
 3   period_id    1699 non-null   int64
 4   minute       1699 non-null   int64
 5   second       1699 non-null   int64
 6   team_id      1699 non-null   object
 7   player_id    1663 non-null   object
 8   player_name  1663 non-null   object
 9   outcome      1699 non-null   int64
 10  x            1699 non-null   float64
 11  y            1699 non-null   float64
 12  timestamp    1699 non-null   object
dtypes: float64(2), int64(6), object(5)
memory usage: 172.7+ KB

In [ ]:
df_qualifiers.info()

        event_id  ...                                              value
0     2886926957  ...                          31wf775s975qy3il33oora8k5
1     2886926957  ...  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
2     2886926957  ...  1, 38, 3, 37, 2, 15, 10, 36, 11, 14, 8, 31, 6,...
3     2886926957  ...  1, 3, 3, 2, 2, 2, 3, 3, 4, 4, 3, 5, 5, 5, 5, 5...
4     2886926957  ...  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 0, 0, 0, 0,...
...          ...  ...                                                ...
8003  2886977623  ...                                                  1
8004  2886977617  ...                                               None
8005  2886977617  ...                                               None
8006  2886977625  ...                                               None
8007  2886977625  ...                                               None

[8008 rows x 5 columns]